In [1]:
from IPython.core.display import display, HTML
display(HTML(
"""<style>
div.container { width:100% !important; }
div.CodeMirror {font-family: Consolas; font-size: 30pt;}
div.output { font-size: 20pt; font-weight: bold;}
div.input { font-family: Consolas; font-size: 30pt;}
div.prompt { min-width: 100px;}
</style>
"""))

C:\Users\soldesk\AppData\Local\Temp\ipykernel_12680\1014303460.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [11]:
# idexing과 slicing을 혼합해서 사용
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
#    0  1  2         3         4  5
#               0    1    2

# [3, ['a', 'b', 'c'], 4]
#  0         1         2
#      0     1    2
print(a[2 : 2 + 3])
#  ['a', 'b', 'c']
#    0    1    2
print(a[2 : 2 + 3][1])
# b
print(a[2 : 2 + 3][1][1])

# ['b', 'c']를 출력하세요.
print(a[3])
print(a[3][1:3])
print(a[3][1:])
print(a[-3][-2:])

[3, ['a', 'b', 'c'], 4]
['a', 'b', 'c']
b
['a', 'b', 'c']
['b', 'c']
['b', 'c']
['b', 'c']

In [12]:
# 자료형
# 리터널 상수 
#        자연어 : 한국어, 중국,... 
#                 문자열 : "a",'가',"""a""",'''가''', (a, 가 :변수)
#        자연수 : 
#                실수 : 10.5 , 100.777 , "10.5":문자, float("10.5")  
#                정수 : 10, 100, 150 , "10" : 문자 , int("10")
# 리스트 : 여러개의 값을 가지기 위한 것 
#          [] :빈 리스트
#          [1,2,3] : 정수 리스트
#          ['a','b','c'] :문자열 리스트
#          [1, 2, 3, ['a', 'b', 'c'],'a','b'] : 혼합형 리스트

In [21]:
# 문자열 다루기
number = 10.0
day = "three"
'''나는 10개의 사과를 먹어서 three일 동안 아팠습니다.'''
a = "나는 %d개의 사과를 먹어서 %s일 동안 아팠습니다."%(number, day)
a = "나는 %-10s 사과를 먹어서 %10s일 동안 아팠습니다."%(number, day)
a = "나는 {0}개의 사과를 먹어서 {1}일 동안 아팠습니다."\
                        .format(number,day)
a = "나는 {0}개의 사과를 먹어서 {d}일 동안 아팠습니다."\
                        .format(number, d = day)
a = f"나는 {number}개의 사과를 먹어서 {day}일 동안 아팠습니다."
a

'나는 10.0개의 사과를 먹어서 three일 동안 아팠습니다.'

In [27]:
str1 = "Life is"
str2 = 'too short'
print(str1 + " " + str2)
print(len(str1)) # 문자의 갯수
print("=" * 30)
a = [1,2,3]
#    0 1 2
b = ['aaa','bbb', 'ccc']
print(a + b) # 붙이기 연산자.
print(len(a)) # 요소의 갯수
print(a[1])
a[1] = 10 
# 리스트에서는 요소의 값을 indexing을 이용해서 변경할 수 있다.
print(a)

Life is too short
7
==============================
[1, 2, 3, 'aaa', 'bbb', 'ccc']
3
2
[1, 10, 3]

In [29]:
c = ['Life', 'is', 'too', 'short'] 
# "your leg"
c[0] = "your leg"
c
########참고#########
str1 = "Life is"
#       0123456
str1[0]
#str1[0] ='l'(x) # 문자열의 문자는 변경할 수 없다.

'L'

In [41]:
# 리스트 함수
### 리스트에 요소 추가 
a = [1,2,3]
b = [4,5,6]
print(a + b)
print(a)
print(b)
a.append("too")
a.append([4,5,6]) # 요소를 하나씩 추가
print(a)
#리스트 확장
a.extend([7,8,9])
print(a)
# 삽입
a.insert(3, ['a','b','c'])
print(a)

[1, 2, 3, 4, 5, 6]
[1, 2, 3]
[4, 5, 6]
[1, 2, 3, 'too', [4, 5, 6]]
[1, 2, 3, 'too', [4, 5, 6], 7, 8, 9]
[1, 2, 3, ['a', 'b', 'c'], 'too', [4, 5, 6], 7, 8, 9]

In [45]:
# +, append
a = [1,2,3]
b = [4,5,6]
print(a+b)
print(a)
a.append(4)
print(a)

[1, 2, 3, 4, 5, 6]
[1, 2, 3]
[1, 2, 3, 4]

In [51]:
l = ['Life', 'is', 'too', 'short',1 ,2 ,3]
#      0       1     2       3    4  5  6
# 요소 삭제 
# del : index를 이용해서 요소 삭제
l[4]
del l[4]
print(l)
# ['Life', 'is', 'too', 'short', 2, 3]
#    0       1     2       3     4  5
l[3: 3 + 2]
del l[3: 3 + 2]
print(l) # ['Life', 'is', 'too', 3]
#             0      1      2    3
l[2:]
del l[2:]
print(l)

['Life', 'is', 'too', 'short', 2, 3]
['Life', 'is', 'too', 3]
['Life', 'is']

In [56]:
# 요소의 값을 이용해서 요소 삭제
l = ['Life', 'is', 'too', 'short',[1 , 4] ,2 ,'3']
l.remove(2) # 요소 값
print(l)
l.remove([1 , 4])
print(l)
l.remove('is')
print(l)
l.remove('3') # 문자
print(l)

['Life', 'is', 'too', 'short', [1, 4], '3']
['Life', 'is', 'too', 'short', '3']
['Life', 'too', 'short', '3']
['Life', 'too', 'short']

In [65]:
# pop : 맨 뒤에서 부터
l = ['Life', 'is', 'too', 'short',[1 , 4] ,2 ,'3']
l.pop()
print(l)
l.pop()
print(l)
l.pop()
print(l)
l1 = l.pop()
print(l1)
print(l)
l1 = l.pop(1) # index를 사용해서 삭제
print(l1)
print(l)
l.pop(0)
print(l)
# 삭제한 값을 대입 하고 싶을 때 pop()사용

['Life', 'is', 'too', 'short', [1, 4], 2]
['Life', 'is', 'too', 'short', [1, 4]]
['Life', 'is', 'too', 'short']
short
['Life', 'is', 'too']
is
['Life', 'too']
['too']

In [76]:
l = [5,7,2,4,1,6]
print(len(l))
# 정렬
# 오름차순으로 정렬
l.sort()
print(l)
l = ['나', '가','마', '라'] # 사전순
l.sort()
print(l)
# 내림차순으로 정렬
l.sort(reverse=True);
print(l)
# 뒤에서 부터 값을 가지고 오기
a = [1, 4, 2, 3]
a.reverse()
print(a)

6
[1, 2, 4, 5, 6, 7]
['가', '나', '라', '마']
['마', '라', '나', '가']
[3, 2, 4, 1]

In [96]:
# 같은 값의 갯수
str3 = 'hobby'
# b가 몇개일까?
print(str3.count('b'))

a = [1,4,3,4,5]
#    0 1 2 3 4
print(a.count(4))
# 요소의 위치 찾기
print(str3.index('o'))
print(a.index(3))  # 3이 있는 위치

print(str3.index('b', str3.index('b') + 1))
# str3.index('b', 2 + 1)
print(a.index(4, a.index(4) + 1))
# a.index(4, 1 + 1)
print(a.index(4)) # 4가 있는 위치
print(a.index(4, 2)) # index2번 부터 4가 있는 위치를 찾으시오.
print(str3.find('t'))
# print(str3.index('t'))
# print(a.find(4,2)) : 리스트에는 find함수가 없다.

2
2
1
2
3
3
1
3
-1

In [ ]:
# 자료형
# 리터널 상수 : 문자열 자료형 : "",'', 정수형 자료형, 실수형 자료형
# 리스트 자료형 : []
# 튜플 자료형 : ()
t = (1234,)
l = [1234]
s = "1234"
i = 1234

In [103]:
l = [] # 빈리스트
t = () # 빈 튜플
l = [1] #  요소가 한개인 리스트
t = (1,) # 요소가 한개인 튜플
t1 = (1,2,3)
a = 1
print(l)
print(a)
print(t)
print(t1)
# ():최우선 연산자
print( 3 + 2 * 4)
print( (3 + 2) * 4)

[1]
1
(1,)
(1, 2, 3)
11
20

In [112]:
l = [1,2,3,4]
t = (1,2,3,4)
t1 = (1,2,3,'a','b')
t1 = (1,2,3,'a','b', (1,2,3),[1,2,3])
#     7 6 5  4   3      2       1   -     
l = [1,2,3,'a','b',(1,2,3),[1,2,3]]
print(l[0])
print(t1[0])
print(t1[-4])
print(l[3:3 + 3])
print(t1[3: 3 + 3])
print(l[:4])
print(t1[:4])
print(l[4:])
print(t1[4:])

1
1
a
['a', 'b', (1, 2, 3)]
('a', 'b', (1, 2, 3))
[1, 2, 3, 'a']
(1, 2, 3, 'a')
['b', (1, 2, 3), [1, 2, 3]]
('b', (1, 2, 3), [1, 2, 3])

In [147]:
t1 = (1,2,3,'a','b', (1,2,3),[1,2,3])
#     0 1 2  3   4      5       6
#     7 6 5  4   3      2       1   -     
l = [1,2,3,'a','b',(1,2,3),[1,2,3]]
print(l[4])
l[4] = 'c' # 리스트는 index를 이용해서  요소의 값을 수정
print(l)
print(t1[4])
# t1[4] = 'c' # 튜플은 index를 이용해서  요소의 값을 수정하지 못함
del l[4]
print(l)
# del t1[4]
# 튜플은 indexing과 slicing만 가능
print(l.index('a'))
# find(x)
print(t1.index('a'))
# print(t1.find('a'))
print(t1)
l2 = list(t1)
print(l2)
t2 = tuple(l)
print(t2)
l = ['a','b','c']
t = ('a','b','c')
print(",".join(l))
print("".join(l))
print(l)
print(",".join(t))
print(" ".join(t))
print(t)
l = [1,2,4,3,2];
print(l.count(2))
t = [1,2,4,3,2];
print(t.count(2))
print( 3  + 3 )
print(int("3") + int("3"))
print( str(3)  + str(3) )

b
[1, 2, 3, 'a', 'c', (1, 2, 3), [1, 2, 3]]
b
[1, 2, 3, 'a', (1, 2, 3), [1, 2, 3]]
3
3
(1, 2, 3, 'a', 'b', (1, 2, 3), [1, 2, 3])
[1, 2, 3, 'a', 'b', (1, 2, 3), [1, 2, 3]]
(1, 2, 3, 'a', (1, 2, 3), [1, 2, 3])
a,b,c
abc
['a', 'b', 'c']
a,b,c
a b c
('a', 'b', 'c')
2
2
6
6
33

In [159]:
# 자료형 
# 리터널 상수 : 문자열 자료형:"",'' , 정수형 자료형, 실수형 자료형
# 리스트 자료형 : []
# 튜플 자료형 : ()
# 딕셔너리 자료형 : {}
l = [] # 빈 리스트
t = () # 빈 튜플
d = {} # 빈 딕셔너리
# 단어(key) : 내용(value)
# 딕셔너리 : 키와 값이 하나로 쌍으로 이루어진 것
# d = {k1:v1, k2:v2,...,kn:vn}
dic = {'name':'이숭무', 'phone':'01071461970', 'birth':'1108'}
l = [1,2,3]
print(l[0])
t = (1,2,3)
print(t[0])
print("="*30)
print(dic['name']) # 요소를 가지고 올때 index를 사용하지 않고 
                   # key를 사용한다.
d2 = { 2 : '이숭무', 0 : '이상범' , 1 : '이장범'}
#          0            1            2 : index는 사용하지 않는다.
print(d2[1])
print(d2[0])
l = [1,2,3,4]
#    0 1 2 3
l[1] = 5
print(l)
print(d2[1])
d2[1] = '김찬중'
print(d2)
# l[4] = 5 # list assignment index out of range
d2[4] = '박준현'
# 키가 존재하면 수정, 키가 없으면 추가
print(d2)
a = {1 :'a', 1: 'b'} # 키가 존재하기 때문에 수정
print(a) # 키는 중복을 허용하지 않는다.

1
1
==============================
이숭무
이장범
이상범
[1, 5, 3, 4]
이장범
{2: '이숭무', 0: '이상범', 1: '김찬중'}
{2: '이숭무', 0: '이상범', 1: '김찬중', 4: '박준현'}
{1: 'b'}

In [164]:
l = [1,2,3,4,5,6]
del l[2]
print(l)
l.remove(6)
print(l)
l.pop()
print(l)
l.pop(1)
print(l)
dic = {'name':'이숭무', 'phone':'01071461970', 'birth':'1108'}
del dic['name']
print(dic)
dic[3] = '이상범';
print(dic)
del dic[3]
print(dic)

[1, 2, 4, 5, 6]
[1, 2, 4, 5]
[1, 2, 4]
[1, 4]
{'phone': '01071461970', 'birth': '1108'}
{'phone': '01071461970', 'birth': '1108', 3: '이상범'}
{'phone': '01071461970', 'birth': '1108'}

In [170]:
dic = {'name':'이숭무', 'phone':'01071461970', 'birth':'1108'}
dic['birth'] = '19991108'
print(dic)
## 년, 월 , 일을 따로 출력하세요.
print(dic['birth']) # 19991108
print(dic['birth'][:4])
print(dic['birth'][4:4+2])
print(dic['birth'][6:6+2])
#  월일만 같이 출력
print(dic['birth'][4:])
print(dic['birth'][-4:])

{'name': '이숭무', 'phone': '01071461970', 'birth': '19991108'}
19991108
1999
11
08
1108
1108

In [175]:
#### 딕셔너리 관련 함수
dic = {'name':'이숭무', 'phone':'01071461970', 'birth':'1108'}
### 딕셔너리에 있는 키만 가져오기
print(dic.keys())
### 딕셔너리에 있는 값만 가져오기
print(dic.values())
# 키와 값을 쌍으로 묶어서
print(dic.items())
# 딕셔너리 모두 삭제
dic.clear()
print(dic)
# 리스트 비우기
l = [1,2,3,4]
l.clear()
print(l)

dict_keys(['name', 'phone', 'birth'])
dict_values(['이숭무', '01071461970', '1108'])
dict_items([('name', '이숭무'), ('phone', '01071461970'), ('birth', '1108')])
{}
[]

In [190]:
dic = {'name':'이숭무', 'phone':'01071461970', 'birth':'1108'}
dic
print(dic['name'])
dic['money'] = '3'
print(dic)
del dic['money']
print(dic)
# print(dic['money'])
print(dic.get('money')) # None
print(dic.get('name'))
print(dic.get('money',0))

dic1 = {'classic' : 500 ,  "pop" : 600 }
dic2 = {'classic' : 500 ,  "pop" : 600 , "money" : 100 }
print(dic1['classic'])
print(dic1['classic'] + dic2['classic'])
print(dic1['pop'] + dic2['pop'])
# print(dic1['money'] + dic2['money'])
print(dic1.get('money',0) + dic2.get('money',0))
print(dic1.get('classic',0) + dic2.get('classic',0))
print(dic1.get('pop',0) + dic2.get('pop',0))

이숭무
{'name': '이숭무', 'phone': '01071461970', 'birth': '1108', 'money': '3'}
{'name': '이숭무', 'phone': '01071461970', 'birth': '1108'}
None
이숭무
0
500
1000
1200
100

In [209]:
# 자료형 
# 리터널 자료형 : 문자열형 자료형 : "",'' , 정수형자료형, 실수형자료형
# 리스트 자료형 : []
# 튜플 자료형 : ()
# 딕셔너리 자료형 : {} : 빈 딕셔너리
#                  {키:값,...}
# 집합 자료형 : {} : {1,2,3,4} : 요소가 1개이상 존재해야 한다.
s = {1}
print(s)
dic = {1:1}
print(dic)
'''
{1} : 집합
{1: 1} : 딕셔너리
'''
s = {1,2,3,4,5}
print(s)
s1 = set([1,2,3,4])
print(s1)
s1= set((1,2,3,4))
print(s1)
s1 = set("hello") # 중복 데이터는 허용하지 않는다.
print(s1)

l = list({1,2,3,4})
print(l)
t = tuple({1,2,3,4})
print(t)
s1 = {'h', 'o', 'e', 'l'}
# s1 = str({'h', 'o', 'e', 'l'})
print(s1)
print("".join(s1))
print(l[0])
print(t[0])
print(s)
# print(s[0]) : 집합 자료형은 index가 없다.

{1}
{1: 1}
{1, 2, 3, 4, 5}
{1, 2, 3, 4}
{1, 2, 3, 4}
{'h', 'o', 'e', 'l'}
[1, 2, 3, 4]
(1, 2, 3, 4)
{'h', 'o', 'e', 'l'}
hoel
1
1
{1, 2, 3, 4, 5}

In [215]:
#### 교집합, 합집합, 차집합
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])
### 교집합
print(s1 & s2)
print(s1.intersection(s2))
### 합집합
print(s1 | s2) # 집합:중복을 허용 안함.
print(s1.union(s2))
### 차집합 
print(s1 - s2)
print(s1.difference(s2)) # {8, 9, 7}

{4, 5, 6}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{1, 2, 3}

In [225]:
s1 = {1,2,3,4,5,6}
## 요소추가
print(s1)
s1.add(7)
print(s1)
#s1.add(8,9,10)
#print(s1)
'''
s1.add({8,9,10})
print(s1)
'''
s1.add((8,9,10)) # 요소 하나만 추가
print(s1)

# 여러 요소를 한번에
s1.update((8,9,10))
print(s1)

# 요소 삭제
s1.remove((8,9,10))
print(s1)
s1.remove(7)
print(s1)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, (8, 9, 10)}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, (8, 9, 10)}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 8, 9, 10}

In [234]:
# 자료형 
# 문자형 자료형  : "",'',"""""",'''''', "True" , "10"
# 정수형 자료형 : 10
# 실수형 자료형 : 10.6
# 리스트 자료형 : []
# 튜플 자료형 : ()
# 딕셔너리 자료형 : {}
# 집합 자료형 : set : {1} # 교집합, 합집합, 차집합
# 부울 자료형 : True/False 
print("True") # 문자열 자료형
print(True) # 참
print("False") # False문자
print(False) # 거짓

# 논리연산 : 부울 타입 끼리의 연산
print( False and True )
print( True and True )
# 비교(관계)연산 : 결과는 부울타입
print( 1 + 1) # 2
print( 1 > 2) # 부울 타입
print( 1 < 2)
print( 1 >= 2)
print( 1 <= 2)
print( 1 == 2) 
print( 1 != 2)
i = 2;
print( i == 2) # ==:같다
# print( i = 2) 대입

# 논리 연산 : 부울타입
i = 3
j = 4
y = 5
print(i > y and j < y)
print(True and False)
print(True or False)
# 논리연산은 비교연산과 같이 하는 경우가 많다.
### 2200년은 윤년? True 
### 4년마다 윤년 , 100년마다는 윤년이 아니다. 400년마다 윤년
print(2200 % 4 == 0 and 2200 % 100 != 0 or 2200 % 400 == 0)

if 2200 % 4 == 0 and 2200 % 100 != 0 or 2200 % 400 == 0:
    print("윤년")
else :
    print("평년")

True
True
False
False
False
True
2
False
True
False
True
False
True
True
False
False
False
평년

In [246]:
# bool()함수 : True/False
print(bool("이숭무"))
if "이숭무":
    print(True)
print(bool(" ")) # 공백문자
print(bool("")) # blank # False
print(bool([])) # False
print(bool([1,2]))
print(bool(())) # False
print(bool((1,2)))
print("=" * 30)
print(bool(1))
print(bool(-1))
print(bool(0)) # False 
print("=" * 30)
print(bool(None)) # null : 존재하지만 알 수 없는 값 False
print(True)
print(False)
# print(true):소문자인 경우 변수로 인식

True
True
True
False
False
True
False
True
==============================
True
True
False
==============================
False
True
False

In [249]:
### 파이썬 변수 선언법
a = 'python'
b = 'life'
c, d = 'python', 'life'
print(c, d)

c, d = ('python', 'life')
print(c, d)

(c, d) = 'python', 'life'
print(c, d)

(c, d) = ('python', 'life')
print(c, d)

c,d,e = 'python', 'life', 'is'
print(c,d,e)

a = b = c = 0
print(a,b,c)

python life
python life
python life
python life
python life is
0 0 0

In [251]:
# 변수에 있는 값을 서로 교환하기
a = 10
b = 20
############ 다른 언어인 경우
temp = b
b = a
a = temp
print(a, b)
########### 파이썬인 경우 
a , b = b , a # 
print(a, b)

20 10
10 20

In [259]:
#### 3장 제어문
### bool타입을 이용해서 원하는 결과를 얻어 오는 것을 말한다.

# 조건문 : 여러가지 중에 하나를 선택할 때
# 조건식 뒤에는 :이 와야한다.
# 수행문은 들여쓰기를 해야한다.
# 들여쓰기는 공백문자나 Tab키를 사용할 수 있으나 두가지 혼용할 수 없다.
# 두개 중 하나만 선택해서 사용
# 주로 Tab키를 사용한다.
'''
if 조건식: # 결과가 True
    수행문1
    수행문2

실행문
'''
if False:
    print("수행문1") # 조건식의 결과 True
    print("수행문2") # 조건식의 결과 True
    
    print("실행문") # 조건식의 결과 True
print("=" * 30)
if False:
    print("수행문1") # 조건식의 결과 True
    print("수행문2") # 조건식의 결과 True
    
print("실행문") # 독립적으로 실행

==============================
실행문

In [260]:
# 단일 if문 : if문만 존재 : True일 때만 실행
money = 3000
if money >= 3500: #False
    print("버스를 타고 간다.")
print("if문 종료")

if문 종료

In [261]:
money = 3500
if money >= 3500: #False
    print("버스를 타고 간다.")
print("if문 종료")

버스를 타고 간다.
if문 종료

In [264]:
### flase 일때도 실행되자.
# if ~ else
money = 3000
if money >= 3500:
    print("차를 타고 간다.")
else :
    print("걸어 간다.")
print("if문 종료")

걸어 간다.
if문 종료

In [265]:
money = 3500
if money >= 3500: # 두가지 하나를 선택...
    print("차를 타고 간다.")
else :
    print("걸어 간다.")
print("if문 종료")

차를 타고 간다.
if문 종료

In [268]:
# and , or, not : 반대를 의미
print(not True)
print(not False)

False
True

In [269]:
money = 2000
if not money >= 3500:
    print("걸어가시오")
else:
    print("차를 타고 가시오")

걸어가시오

In [281]:
# IN연산자 사용하기 : 포함되어 있는지 물어볼 때 사용
l = [1,2,3,4,5]
print( 2 in l)
print( 7 in l)
print( 2 in [1,2,3,4,5])
print( 7 not in [1,2,3,4,5])

print( 't' in 'python')
print( 'z' not in 'python')

print( 'a' in  {'a' : 1, 'b': 2})
print( 'a' not in  {'a' : 1, 'b': 2})

print( 3 in {1,2,3,4,5})
print( 3 not in {1,2,3,4,5})

True
False
True
True
True
True
True
False
True
False

In [283]:
l = [1,2,3,4,5,6]
print( 4 in l)
if 4 in l:
    print("리스트에 4가 포함되어 있다")
else:
    print("리스트에 4가 포함되어 있지 않다.")
    
print("=" * 30)
if 7 not in l:
    print("리스트에 7가 포함되어 있지 않다.")
else:
    print("리스트에 7가 포함되어 있다")
    
print("=" * 30)
if 7 in l:
    print("리스트에 7가 포함되어 있다")
else:
    print("리스트에 7가 포함되어 있지 않다.")

True
리스트에 4가 포함되어 있다
==============================
리스트에 7가 포함되어 있지 않다.
==============================
리스트에 7가 포함되어 있지 않다.

In [286]:
pocket =['paper', 'card', 'money']
print('money' in pocket)
if 'money' in pocket:
    print("주머니에 돈이 있습니다.")
else:
    print("주머니에 돈이 없습니다.")
    
### 영어가 40이상이고, 국어가 40이상이고 , 수학이 40이상일 때 , 
### 평균이 60이상이면 합격 그렇지 않으면 불합격
mat = 55
eng = 70
kor = 40
result = (mat + eng+kor) / 3 >= 60 and mat>=40 and \
         eng>=40 and kor >= 40;
print(result) # True / False
if (mat + eng+kor) / 3 >= 60 and mat>=40 and \
         eng>=40 and kor >= 40 :
    print("합격")
else:
    print("불합격")

True
주머니에 돈이 있습니다.
False
불합격

In [287]:
# score가 90이상이면 A, 80이상이면 B, 70이상이면 C, 60이상이면 D, F
# 조건이 여러개인 경우
'''
if 조건식:
    수행식
elif 조건식:
    수행식
elif 조건식:
    수행식
...
else :
    수행식
'''
# else문 뒤에는 조건식 올 수 없다.
# 조건식은 if문 뒤에 와야 한다.
# else if : elif 
# 다중 if문
score = 75
if score >= 90:
    print('A')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
elif score >= 60:
    print('D')
else:
    print('F')

C

In [290]:
### 95이상이면 A+ 이하면 A
### 85이상이면 B+ 이하면 B
### 75이상이면 C+ 이하면 C
### 65이상이면 D+ 이하면 D
### F
### 이중 if
score = 75
if score >= 90:
    if score>=95:
        print('A+')
    else:
        print('A')
elif score >= 80:
    if score >= 85:
        print('B+')
    else:
        print('B')
elif score >= 70:
    if score >= 75:
        print('C+')
    else:
        print('C')
elif score >= 60:
    if score >= 65:
        print('D+')
    else:
        print('D')
else:
    print('F')

C+

In [296]:
'''
score가 60이면 message 변수에 success를 아니면 
message 에 failure를 저장한 후 출력
'''
score = 75
if score >= 60:
    message = 'success'
else:
    message = 'failure'
print(message)
print("==" * 30)
message = 'success' if score >= 60 else 'failure'
print(message)

success
============================================================
success

In [300]:
a = 10; b = 20; opt='add'
if opt == 'add':
    result = a + b
elif opt == 'sub':
    result = a - b
elif opt == 'mul':
    result = a * b
else :
    result = a / b
print(result)

30

In [301]:
a = 10; b = 20; opt='add'
if opt == 'add':
    result = a + b
else:
    if opt == 'sub':
        result = a-b
    else:
        if opt == 'mul':
            result = a * b
        else:
            result = a / b
print(result)

30

In [302]:
result = a + b if opt == 'add' else (
         a-b   if opt == 'sub' else (
         a * b if opt == 'mul' else a / b
         ))
print(result)

30