In [1]:
from IPython.core.display import display, HTML
display(HTML(
"""<style>
div.container { width:100% !important; }
div.CodeMirror {font-family: Consolas; font-size: 30pt;}
div.output { font-size: 20pt; font-weight: bold;}
div.input { font-family: Consolas; font-size: 30pt;}
div.prompt { min-width: 100px;}
</style>
"""))

C:\Users\soldesk\AppData\Local\Temp\ipykernel_8388\1014303460.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [4]:
# 2단부터 4단까지 , 곱은 4곱부터 8곱까지만 출력하시오
# 2단
gop = 4
while gop <= 8:
    print(f"2 * {gop} = {2 * gop}")
    gop+=1
    
# 3단
gop = 4
while gop <= 8:
    print(f"3 * {gop} = {3 * gop}")
    gop+=1
    
# 4단
gop = 4
while gop <= 8:
    print(f"4 * {gop} = {4 * gop}")
    gop+=1
    
dan = 2
while dan <= 4:
    gop = 4
    while gop <= 8:
        print(f"{dan} * {gop} = {dan * gop}")
        gop+=1
    dan += 1

2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32

In [6]:
startDan = int(input("시작단을 입력하세요 : "))
endDan = int(input("마지막 단을 입력하세요 : "))
startGop = int(input("시작 곱을 입력해주세요 : "))
endGop = int(input("마지막 곱을 입력해주세요 : "))
dan = startDan
while dan <= endDan:
    gop = startGop
    while gop <= endGop:
        print(f"{dan} * {gop} = {dan * gop}")
        gop+=1
    dan += 1

시작단을 입력하세요 : 2
마지막 단을 입력하세요 : 4
시작 곱을 입력해주세요 : 4
마지막 곱을 입력해주세요 : 8
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32

In [14]:
# 로또
import random
lotto = []
i = 1
while i <= 45:
    lotto.append(i)
    i+=1
# lotto = [1~45]
lottosize = len(lotto) # 45
j = 1
while j <= 6:
    lottosize -= 1
    idx = random.randint(0, lottosize) 
    # 0 ~ 44, 0 ~ 43, 0 ~ 42, 0 ~ 41, 0 ~ 40
    lottoNum = lotto.pop(idx)
    print(lottoNum, end =", ")
    j += 1

25, 29, 1, 45, 23, 12,

In [57]:
import random
lotto = []
qty = int(input("원하는 수를 입력하세요. : "))
cnt = 1
while cnt <= qty:
    i = 1
    while i <= 45:
        lotto.append(i) 
        i+=1
    # print(lotto) # 1~45
    
    lottosize = len(lotto) # 45
    j = 1
    while j <= 6:
        lottosize -= 1
        idx = random.randint(0, lottosize) 
        # 0 ~ 44, 0 ~ 43, 0 ~ 42, 0 ~ 41, 0 ~ 40
        lottoNum = lotto.pop(idx)
        print(lottoNum, end =", ")
        j += 1
    cnt += 1
    lotto.clear()
    print()

18, 35, 40, 24, 38, 25,

In [62]:
import random
qty = int(input("원하는 수를 적으시오 : "))
cnt = 1
while cnt <= qty:
    lotto = []
    i = 1
    while i <= 45:
        lotto.append(i)
        i+=1
    lottosize = len(lotto) # 45
    j = 1
    while j <= 6:
        lottosize -= 1
        idx = random.randint(0, lottosize) 
        lottoNum = lotto.pop(idx)
        print(lottoNum, end =", ")
        j += 1
    cnt += 1
    print()

원하는 수를 적으시오 : 3
19, 20, 6, 42, 35, 28,
25, 35, 6, 18, 13, 45,
12, 45, 39, 15, 5, 9,

In [64]:
### 1 ~ 10까지의 합을 구하시오.
'''
i = 1
sum = 0
sum = sum + 1
sum = sum + 2
sum = sum + 3
sum = sum + 4
...
sum = sum + 10
'''
i = 1
sum = 0
while i <= 100:
    sum = sum + i
    i += 1
print(sum)

5050

In [66]:
i = 1
sum = 0
while True:
    if i > 100:
        break ## 반복문을 강제 종료
    sum += i
    i += 1
print(sum)

5050

In [68]:
# 1 ~ 20중 짝수만 출력하시오,
'''
print(2)
print(4)
print(6)
...
print(20)
'''
i = 0
while i < 20 :
    i += 1
    if i % 2 == 1:
        continue # while문으로 다시 보내도록 함.
    print(i)

2
4
6
8
10
12
14
16
18
20

In [72]:
# 1 ~ 20중 홀수만 출력하시오,
i = 0
while i <= 19:
    i += 1
    if i % 2 == 0:
        continue
    print(i)

i = 0
while i <= 19:
    i += 1
    if i % 2 == 1:
        print(i)

i = 0
while True:
    i += 1
    if i > 20:
        break
    if i % 2 == 0:
        continue
    print(i)
### 반복문 : while, for

1
3
5
7
9
11
13
15
17
19
1
3
5
7
9
11
13
15
17
19
1
3
5
7
9
11
13
15
17
19

In [79]:
# 리스트에 있는 합을 구하시오
l = [1, 43, 5, 56]
sum = 0
sum = sum + l[0]
sum = sum + l[1]
sum = sum + l[2]
sum = sum + l[3]
print(sum)
sum = 0
idx = 0 # index
while idx < len(l):
    sum += l[idx]
    idx += 1
print(sum)

idx = 0
for num in l: # [1, 43, 5, 56]
    print(f"l[{idx}] = {num}")
    idx += 1

# 리스트 , 튜플, 딕셔러니
sum = 0
for num in l:# [1, 43, 5, 56] : 리스트, 튜플, 딕셔너리, 집합
    sum += num # index
print(sum)

### 범위인 경우 
sum = 0
idx = 0
while idx < len(l):
    sum += l[idx]
    idx += 1
print(sum)

105
105
l[0] = 1
l[1] = 43
l[2] = 5
l[3] = 56
105
105

In [80]:
l = [1,2,3,4]
print(l[0])
print(l[1])
print(l[2])
print(l[3])
idx = 0
while idx <= 3:
    print(l[idx])
    idx += 1

for num in l:
    print(num)

1
2
3
4
1
2
3
4
1
2
3
4

In [98]:
t = (1,2,3,4)
print(t[0])
print(t[1])
print(t[2])
print(t[3])
#print(t)
idx = 0
while idx <= 3:
    print(t[idx])
    idx += 1
print("==" * 30)
print(t[0])
print(t[1])
print(t[2])
print(t[3])
idx = 0 
while idx <= 3:
    print(t[idx])
    idx += 1

1
2
3
4
1
2
3
4
============================================================
1
2
3
4
1
2
3
4
1
2
3
4

In [99]:
nn = t[0]
print(nn)
nn = t[1]
print(nn)
nn = t[2]
print(nn)
nn = t[3]
print(nn)
# 크기 만큼만 반복을 하므로 while처럼 크기를 지정하지 않는다.
for nn in t: 
    print(nn)

1
2
3
4

In [101]:
l = [1,2,3]
num = l[0]
print(num)
num = l[1]
print(num)
num = l[2]
print(num)
print("==" * 30)
idx = 0
while idx <= 2:
    num = l[idx]
    print(num)
    idx+=1

print("==" * 30)
idx = 0
for num in l: #num = l[idx] , #num+=1
    #num = l[idx]
    print(num)
    #num+=1

1
2
3
============================================================
1
2
3
============================================================
1
2
3

In [ ]:
# 1 ~ 100 까지
i = 0
while i<= 100:
    print(i)
    i += 1

i = 0 
l = []
while i <= 100:
    l.append(i)
    i+=1
for num in l:
    print(num)

In [6]:
t = (1,2,3) # 튜플
num = t[0]
print(num , end ="")
num = t[1]
print(num, end ="")
num = t[2]
print(num, end ="")
print()
idx = 0
while idx <= 2: # 무한반복을 막기 위해 범위값을 지정
    num = t[idx]
    print(num)
    idx += 1
print()
for num in t: # 크기만큼만 
    #num = t[0]
    #num = t[1]
    #num = t[2]
    print(num)
    #idx += 1
l = [12,3,4]
nn = l[0]
print(nn)
nn = l[1]
print(nn)
nn = l[2]
print(nn)

for nn in l:# nn = l[0], # nn = l[1], # nn = l[2]
    print(nn)

l = [12,3,4]
idx = 0
while idx <= 2:
    aaa = l[idx]
    idx += 1
    print(aaa)

123
1
2
3

1
2
3
12
3
4
12
3
4
12
3
4

In [ ]:
print(f" 2 * 1 = {2 * 1}")
print(f" 2 * 2 = {2 * 2}")
print(f" 2 * 3 = {2 * 3}")
print(f" 2 * 4 = {2 * 4}")
print(f" 2 * 5 = {2 * 5}")
print(f" 2 * 6 = {2 * 6}")
idx = 1
while idx <= 6:
    print(f" 2 * {idx} = {2 * idx}")
    idx += 1

l = [1,2,3,4]
#    0 1 2 3
print(l[0])
print(l[1])
print(l[2])
print(l[3])
size = len(l) # 4
idx = 0
while idx < size:
    print(l[idx])
    idx+=1

for num in l:
    print(num)

In [20]:
l1 = [(1,2), (3,4), (5,6)]
for t in l1: # t =l1[0] , t =l1[1], t =l1[2]
    print(t)

(a, b) = (1,2)
print(a)
print(b)

for (a,b) in l1: 
    print(a, b)
    print(a + b)

(1, 2)
(3, 4)
(5, 6)
1
2
1 2
3
3 4
7
5 6
11

In [28]:
l1 = [(1,2,3),(3,4,5),(5,6,7)]
for t1 in l1: # t1 = l1[0], t1 = l1[1], t1 = l1[2]
    print(t1) # (1, 2, 3)
              #  0  1  2
    print(t1[0], t1[1], t1[2])
    print(t1[0] + t1[1] + t1[2])
    
for (a,b,c) in l1:
    print(a,b,c)
    print(a + b + c)

(1, 2, 3)
1 2 3
6
(3, 4, 5)
3 4 5
12
(5, 6, 7)
5 6 7
18
1 2 3
6
3 4 5
12
5 6 7
18

In [31]:
l1 = [(1,2,3),(4,5),(5,6,7)]
for (a,b,c) in l1:
    print(a,b,c)

1 2 3

ValueError: not enough values to unpack (expected 3, got 2)

In [33]:
# 1 ~ 100 까지을 구해서 출력하세요.
i = 1
sum = 0
while i <= 100: 
    sum += i
    i += 1
print(sum)

sum = 0
for num in range(1, 1 + 100):
    sum += num
print(sum)

5050
5050

In [36]:
# 3단
for gop in range(1, 1 + 9):
    print(f"3 * {gop} = {3 * gop}")

gop = 1
while gop <= 9:
    print(f"3 * {gop} = {3 * gop}")
    gop += 1

gop = 0
while True:
    gop+=1
    if gop > 10:
        break
    print(f"3 * {gop} = {3 * gop}")
    gop += 1

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 1 = 3
3 * 3 = 9
3 * 5 = 15
3 * 7 = 21
3 * 9 = 27

In [40]:
dic = {1 : "이", 2:"숭", 3: "무"}
for key in dic.keys():
    print(dic[key])

for value in dic.values():
    print(value)

이
숭
무
이
숭
무

In [43]:
#3단
for gop in range(1, 1 + 9):
    print(f"3 * {gop} = {3 * gop}")
#4단
for gop in range(1, 1 + 9):
    print(f"4 * {gop} = {4 * gop}")
#5단
for gop in range(1, 1 + 9):
    print(f"5 * {gop} = {5 * gop}")

dan = 3
while dan <= 5:
    for gop in range(1, 1 + 9):
        print(f"5 * {gop} = {5 * gop}")
    dan += 1    
    
for dan in range(3, 3 + 3):
    for gop in range(1, 1 + 9):
        print(f"5 * {gop} = {5 * gop}")

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [47]:
startDan = int(input("시작단을 입력해주세요 : "))
endDan = int(input("끝단을 입력해주세요 : "))
startGop = int(input("시작곱을 입력해주세요 : "))
endGop = int(input("끝곱을 입력해주세요 : "))
for dan in range(startDan, endDan + 1):
    for gop in range(startGop, endGop + 1):
        print(f"{dan} * {gop} = {dan * gop}")
## while True:
##    if a < 10:
##        break

시작단을 입력해주세요 : 3
끝단을 입력해주세요 : 5
시작곱을 입력해주세요 : 2
끝곱을 입력해주세요 : 4
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20

In [ ]:
for num in range(5, 0, -1):
    print(num)
    
for num in range(100, 0, -1): ### 3
    print(num)
    
for num in reversed(range(1,101)): ### 7
    print(num)

In [52]:
score = 75
if score >= 90:
    massage = 'A'
else :
    if score >= 80:
        massage = 'B'
    else :
        if score >= 70:
            massage = 'C'
        else:
            if score >= 60:
                massage = 'D'
            else:
                massage = 'F'
print(massage)
massage = 'A' if score >= 90 else(
          'B' if score >= 80 else(
          'C' if score >= 70 else(
          'D' if score >= 60 else 'F'
          )))
print(massage)

C
C

In [55]:
result = []
i = 1
while i <= 100:
    result.append(i)
    i += 1
print(result)

result = []
for num in range(1, 101):
    result.append(num)
print(result)

result = []
result = [num for num in range(1, 101)]
print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [57]:
a = (1,2,3,4)

result = []
for num in a:
    result.append(num * 3)
print(result)

result =[num * 3 for num in a]
print(result)

[3, 6, 9, 12]
[3, 6, 9, 12]

In [59]:
result = []
for num in (1,2,3,4,5):
    result.append(num * 3)
print(result)

result = [num * 3 for num in (1,2,3,4,5)]
print(result)

[3, 6, 9, 12, 15]
[3, 6, 9, 12, 15]

In [62]:
# a튜플에서 값이 짝수인 것만 3을 곱한 값을 리스트에 추가하시오.
a = (1,2,3,4)
result = []
for num in a:
    if num % 2 == 0:
        result.append(num * 3)
print(result)
result =[num * 3 for num in a
                    if num % 2 == 0]
print(result)

[6, 12]
[6, 12]

In [65]:
lotto = []
i = 1
while i <= 45:
    lotto.append(i)
    i += 1
print(lotto)

lotto = []
for i in range(1, 46):
    lotto.append(i)
print(lotto)

lotto =[ i for i in range(1, 46) ]
print(lotto)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]

In [70]:
for dan in range(3, 7):
    for gop in range(4, 8):
        print(f"{dan} * {gop} = {dan * gop}")
gogodan = []
for dan in range(3, 7):
    for gop in range(4, 8):
        gogodan.append(dan * gop)
print(gogodan)

gogodan = [dan * gop for dan in range(3, 7)
                     for gop in range(4, 8)]

print(gogodan)

3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
[12, 15, 18, 21, 16, 20, 24, 28, 20, 25, 30, 35, 24, 30, 36, 42]
[12, 15, 18, 21, 16, 20, 24, 28, 20, 25, 30, 35, 24, 30, 36, 42]

In [73]:
## 함수
'''
-- 함수정의
f1(x,y) = 2x + 3y
-- 함수호출
z = f1(2,3)
z = 13
'''
### 함수 정의
def f1(x, y, i): # x,y,i : parameter : 매개변수
    return 2*x + 3*y
### 함수 호출
z = f1(2,3, 4) # 2,3,4 : argument : 인수 : 
print(z)

13

In [74]:
z = f1(3,5,7)
print(z)

21

In [75]:
# 3단
for gop in range(1, 10):
    print(f"{3} * {gop} = {3 * gop}")
# 4단
for gop in range(1, 10):
    print(f"{4} * {gop} = {4 * gop}")
# 7단
for gop in range(1, 10):
    print(f"{7} * {gop} = {7 * gop}")

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [99]:
def gugu(dan): # 함수
    for gop in range(1, 10):
        print(f"{dan} * {gop} = {dan * gop}")

In [100]:
gugu(7)

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

In [ ]:
'''
gugu(2)
gugu(3)
gugu(4)
gugu(5)
'''
for dan in range(2, 6):
    gugu(dan)

gugu(8)

In [103]:
### 함수를 만드는 4가지 형식
### 1. 일반적인 유형 : 입력값과 결과값이 있는 함수
def test(x, y): # 입력값이 있다는 것은 매개변수가 있다.
    return x + y # 결과 값이 있다는 것은 return문이 있다.
result = test(3, 7)
print(result)

10

In [105]:
result = test(4, 9)
print(result)

13

In [109]:
# 2. 입력값은 없고 결과값만 있는 함수
def test1(): # 입력값이 없다는 것은 매개변수가 없다.
    x = 10; y =20
    return x + y

In [111]:
result = test1()
print(result)

30

In [113]:
def test1():
    x = int(input("숫자를 입력해주세요 : "))
    y = int(input("숫자를 입력해주세요 : "))
    return x + y

In [ ]:
result = test1()
print(result)

In [119]:
### 3.입력 값은 있으나 결과값이 없다.
def test2(x, y): # 입력 값이 있다는 것은 매개변수가 있다
    result = x + y
    print(result) # 결과값이 없다는 것은 return문이 없다.

In [121]:
test2(2, 3)

5

In [122]:
'''
입력     결과
 o        o
 x        o
 o        x
 x        x
'''
def test3():
    x = 10; y = 20
    result = x + y
    print(result)

In [123]:
test3()

30

In [134]:
def test3():
    x = int(input("숫자를 입력해주세요. : "))
    y = int(input("숫자를 입력해주세요. : "))
    result = x + y
    print(result)
print("baszfhsab")

baszfhsab

In [135]:
test3()

숫자를 입력해주세요. : 3
숫자를 입력해주세요. : 7
10

In [136]:
import random
lotto = [num for num in range(1, 46)]
lottoSize = len(lotto)
for n in range(1, 7):
    lottoSize -= 1
    idx = random.randint(0, lottoSize)
    lottoNum = lotto[idx]
    print(lottoNum , end = ", ")

10, 7, 15, 31, 33, 2,

In [137]:
import random

def lottoFnc():
    lotto = [num for num in range(1, 46)]
    lottoSize = len(lotto)
    for n in range(1, 7):
        lottoSize -= 1
        idx = random.randint(0, lottoSize)
        lottoNum = lotto[idx]
        print(lottoNum , end = ", ")

In [143]:
lottoFnc()

30, 7, 15, 2, 6, 1,

In [145]:
lottoFnc()

16, 30, 37, 8, 27, 8,

In [150]:
cnt = int(input("구매수량을 입력해주세요 : "))
for n in range(0 , cnt):
    lottoFnc()
    print()

구매수량을 입력해주세요 : 5
3, 27, 10, 23, 17, 22,
4, 44, 22, 10, 7, 19,
39, 23, 6, 23, 40, 25,
23, 32, 35, 37, 4, 38,
3, 9, 11, 38, 20, 20,

In [151]:
def lottoCnt():
    cnt = int(input("구매수량을 입력해주세요 : "))
    for n in range(0 , cnt):
        lottoFnc()
        print()

In [152]:
lottoCnt()

구매수량을 입력해주세요 : 5
32, 19, 38, 5, 15, 19,
13, 5, 6, 24, 18, 13,
43, 2, 26, 19, 10, 34,
45, 28, 15, 34, 30, 33,
9, 30, 2, 15, 13, 21,

In [153]:
start = 1
end = 100

sum = 0
for num in range(start, end + 1):
    sum += num

print(sum)

5050

In [162]:
# 매개변수가 있는 함수 
# 1, 100  : 10 , 300
def sum1(start, end):
    sum = 0
    for num in range(start, end + 1):
        sum += num
    return sum

In [163]:
result = sum1(10, 300)
print(result)
result =sum1(1, 100)
print(result)

45105
5050

In [164]:
result = sum1(start= 10, end = 300)
print(result)

45105

In [166]:
result = sum1(end = 300, start = 10)
print(result)

45105

In [175]:
#매개변수에 *을 주면 argument값을 여러개 받을 수 있다.
def sum11(*para): 
    sum = 0
    for num in para:
        sum += num
    print(sum)

In [176]:
sum11(1,2)
sum11(1,2,3)
sum11(1,2,3,4)
sum11(1,2,3,4,5,6,7,8,9,10)

3
6
10
55

In [178]:
def sum12(num1, *num2):
    print(num1)
    print(num2)

In [179]:
sum12(1, 2,3,4,5,6,7)

1
(2, 3, 4, 5, 6, 7)

In [184]:
def calc(opt, *num):
    sum1 = 1
    if opt == "add":
        for n in num:
            sum1 += n
    elif opt == "mul":
        for n in num:
            sum1 *= n
    print(sum1)

In [185]:
calc('add', 1,2,3,4,5)
calc('mul', 3,4,5)

16
60

In [194]:
### return문에 의해 전달 되는 값은 오로지 하나이다.
def add():
    x = 10; y = 30;
    return x + y

In [196]:
result = add()
print(result)

(40, 10)
40 10

In [197]:
i = 10
print(i)
l = [10, 20, 30]
print(l)
t = (10, 20)
print(t)
s = {1,2,3,4,5}
print(s)

10
[10, 20, 30]
(10, 20)
{1, 2, 3, 4, 5}

In [198]:
i = 10, 20
print(i)

(10, 20)

In [201]:
def test12(x ,y):
    add = x + y
    mul = x * y
    return add, mul # 리턴된 값은 튜플로 전달된다.

In [205]:
result = test12(3, 4) #튜플로 받는다
print(result)  # (7, 12)
print(result[0], result[1])

(7, 12)
7 12

In [206]:
#### 매개변수에 초깃값 미리 설정하기 
def say_myself(name, old, man = True):
    print("나의 이름은 %s 입니다." % name) 
    print("나이는 %d살입니다." % old)
    if man:
        print("남자입니다.")
    else:
        print("여자입니다")

In [209]:
say_myself('이숭무', 15)
say_myself('박준현', 20, False)

나의 이름은 이숭무 입니다.
나이는 15살입니다.
남자입니다.
나의 이름은 박준현 입니다.
나이는 20살입니다.
여자입니다

In [212]:
def say_myself(name, old=25, man = True):
    print("나의 이름은 %s 입니다." % name) 
    print("나이는 %d살입니다." % old)
    if man:
        print("남자입니다.")
    else:
        print("여자입니다")
say_myself(name="이숭무", man = False)
say_myself("이숭무", False) # X

나의 이름은 이숭무 입니다.
나이는 25살입니다.
여자입니다
나의 이름은 이숭무 입니다.
나이는 0살입니다.
남자입니다.

In [214]:
### 전역변수 : 보통 프로그램이 종료되기 전까지  사용할 수 있는 변수
### 지역변수 : 함수가 종료되면 변수도 같이 소멸
b = 1 # 전역변수
def test4():
    b = 100 # 지역변수
    print(f"함수안에서 실행 : {b}")
    # 함수내에서는 지역변수가 우선한다.
test4()
print(b)

함수안에서 실행 : 100
1

In [220]:
b = 10
def test5():
    print(f"함수안에서 실행 b : {b}")
test5()
print(f"함수 밖에서 실행 b : {b}")

함수안에서 실행 b : 10
함수 밖에서 실행 b : 10

In [221]:
b = 10 # 전역변수
def test6():
    b = 100 # 지역 변수
    print(f"함수안에서 실행 b : {b}") # 100
test6()
print(f"함수 밖에서 실행 b : {b}") # 10

함수안에서 실행 b : 100
함수 밖에서 실행 b : 10

In [223]:
b = 10 # 전역변수
def test7():
    global b
    b = 100 # 전역변수 
    print(f"함수안에서 실행 b : {b}")  # 100
test7()
print(f"함수 밖에서 실행 b : {b}") # 100

함수안에서 실행 b : 100
함수 밖에서 실행 b : 100

In [226]:
### lambda함수
def add(a, b):
    return a + b
add(3, 4)

7

In [228]:
add = lambda a, b : a + b
add(3, 4)

7

In [231]:
def add(a, b = 4):
    return a + b
add(3)

7

In [233]:
add = lambda a, b = 4 : a + b
add(3)

7

In [234]:
def add(opt, a, b):
    if opt == "add":
        return a + b
    else:
        return a - b
result = add("add", 4 , 3)
print(result)

7

In [236]:
add = lambda opt, a, b : a + b if opt == "add" else a - b
add('add', 3, 4)

7

In [237]:
def add(opt, a, b):
    if opt == "add":
        return a + b
    else:
        if opt == "sub":
            return a - b
        else:
            if opt == "mul":
                return a * b
            else:
                return a / b
result = add("add", 4 , 3)
print(result)

7

In [239]:
add = lambda opt, a, b : a + b if opt == "add" else(
                         a - b if opt == "sub" else(
                         a * b if opt == "mul" else a / b
))
add('mul', 3, 4)

12

In [240]:
## 파일 입출력
## 변수가 가지고 있는 데이터를 파일에 저장하거나 
## 또는 파일에 있는 값을 변수로 가져오는 것을 말한다.

## 파일에 데이터를 저장
f = open("test.txt", "w")
f.write("1번째 줄입니다.\n")
f.write("2번째 줄입니다.\n")
f.write("3번째 줄입니다.\n")
f.write("4번째 줄입니다.\n")
f.write("5번째 줄입니다.\n")
f.write("6번째 줄입니다.\n")
f.close()

In [251]:
f = open("test.txt", "w", encoding='utf-8') # overwrite
for n in range(11, 21):
    f.write(f"{n}번째 줄입니다.\n")
f.close()

In [252]:
f = open("test.txt" , mode = "a" , encoding='utf-8') #append
for n in range(21, 31):
    f.write(f"{n}번째 줄입니다.\n")
f.close()

In [259]:
f = open("test.txt" , mode = "r", encoding='utf-8') # read
'''
line = f.readline()
print(line, end="")
line = f.readline()
print(line, end="")
line = f.readline()
print(line, end="")
line = f.readline()
print(line, end="")
'''
while True:
    line = f.readline()
    if not line:
        break
    print(line, end="")
f.close()

11번째 줄입니다.
12번째 줄입니다.
13번째 줄입니다.
14번째 줄입니다.
15번째 줄입니다.
16번째 줄입니다.
17번째 줄입니다.
18번째 줄입니다.
19번째 줄입니다.
20번째 줄입니다.
21번째 줄입니다.
22번째 줄입니다.
23번째 줄입니다.
24번째 줄입니다.
25번째 줄입니다.
26번째 줄입니다.
27번째 줄입니다.
28번째 줄입니다.
29번째 줄입니다.
30번째 줄입니다.

In [264]:
f = open("test.txt", "r", encoding='utf-8')
lines = f.readlines()
print(lines)
for line in lines:
    print(line)
print("".join(lines))

['11번째 줄입니다.\n', '12번째 줄입니다.\n', '13번째 줄입니다.\n', '14번째 줄입니다.\n', '15번째 줄입니다.\n', '16번째 줄입니다.\n', '17번째 줄입니다.\n', '18번째 줄입니다.\n', '19번째 줄입니다.\n', '20번째 줄입니다.\n', '21번째 줄입니다.\n', '22번째 줄입니다.\n', '23번째 줄입니다.\n', '24번째 줄입니다.\n', '25번째 줄입니다.\n', '26번째 줄입니다.\n', '27번째 줄입니다.\n', '28번째 줄입니다.\n', '29번째 줄입니다.\n', '30번째 줄입니다.\n']

In [266]:
f = open("test.txt", "r", encoding='utf-8')
data = f.read()
f.close()
print(data)

11번째 줄입니다.
12번째 줄입니다.
13번째 줄입니다.
14번째 줄입니다.
15번째 줄입니다.
16번째 줄입니다.
17번째 줄입니다.
18번째 줄입니다.
19번째 줄입니다.
20번째 줄입니다.
21번째 줄입니다.
22번째 줄입니다.
23번째 줄입니다.
24번째 줄입니다.
25번째 줄입니다.
26번째 줄입니다.
27번째 줄입니다.
28번째 줄입니다.
29번째 줄입니다.
30번째 줄입니다.

In [267]:
with open("test.txt", "w" ) as f:
    for num in range(1, 6):
        f.write(f"{num}번째 줄입니다.\n")

In [268]:
with open("test.txt", "a" ) as f:
    for num in range(6, 11):
        f.write(f"{num}번째 줄입니다.\n")

In [269]:
with open("test.txt", "r" ) as f:
    data = f.read()
print(data)

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.